[user]
	name = Daan Schulpen
[color]
	ui = always
[alias]
	his = log --oneline --decorate --all --graph
	his-one = log --oneline --decorate --graph
[push]
	default = simple
[credential]
	helper = /usr/libexec/git-core/git-credential-gnome-keyring
[difftool "norovimdiff"]
	cmd = vim -f -d -c \"wincmd l\" -c 'cd \"$GIT_PREFIX\"' \"$LOCAL\" \"$REMOTE\"
[include]
	path = ~/.gitconfig-local
[core]
	excludesfile = ~/.gitignore-global
[http]
    sslBackend = openssl
    sslVerify = false
    sslCAInfo = /home/prl/cert-ict/cacrt.crt
    sslCert = /home/prl/cert-ict/John_Doe.crt
    sslKey = /home/prl/cert-ict/John_Doe.key
