[user]
	name = Daan Schulpen
[color]
	ui = always
[alias]
	his = log --oneline --decorate --all --graph
[push]
	default = simple
[credential]
	helper = /home/schuld/usr/bin/git-credential-gnome-keyring
[difftool "norovimdiff"]
	cmd = vim -f -d -c \"wincmd l\" -c 'cd \"$GIT_PREFIX\"' \"$LOCAL\" \"$REMOTE\"
[include]
	path = ~/.gitconfig-local
[core]
	excludesfile = ~/.gitignore-global
